---
import Page from '$layouts/Page.astro';
import localeStaticPaths from '$lib/localeStaticPaths';
import translate from '$i18n/translate';
import tPage from '$i18n/translations/pages/home';
import type Locale from '$types/Locale';

export async function getStaticPaths() {
  return localeStaticPaths;
}

const locale = Astro.params.locale as Locale;
const t = translate(locale);
---

<Page title={t(tPage, { key: 'title' })}>
  <section>
    <p>{t(tPage, { key: 'intro' })}</p>

    <nav>
      <ul class="list-style-none">
        <li>
          <a href={`/${locale}/submit`} class="btn">
            {t(tPage, { key: 'submit' })}
          </a>
        </li>
        <li>
          <a href={`/${locale}/furthsettins`} class="btn">
            {t(tPage, { key: 'buy' })}
          </a>
        </li>
        <li>
          <a href={`/${locale}/jyne`} class="btn">
            {t(tPage, { key: 'join' })}
          </a>
        </li>
        <li>
          <a href={`/${locale}/news`} class="btn">
            {t(tPage, { key: 'news' })}
          </a>
        </li>
        <li>
          <a href={`/${locale}/about`} class="btn">
            {t(tPage, { key: 'about' })}
          </a>
        </li>
        <li>
          <a href={`/${locale}/comatee`} class="btn">
            {t(tPage, { key: 'committee' })}
          </a>
        </li>
        <li>
          <a href={`/${locale}/contact`} class="btn">
            {t(tPage, { key: 'contact' })}
          </a>
        </li>
      </ul>
    </nav>
  </section>
</Page>
