---
import Page from '$layouts/Page.astro';
import localeStaticPaths from '$lib/localeStaticPaths';
import translate from '$i18n/translate';
import tPage from '$i18n/translations/pages/home';
import type Locale from '$types/Locale';
import { getMostRecentNewsItem } from '$lib/newsUtils';
import NewsPreviewLink from '$components/NewsPreviewLink.astro';
import contactDetails from '$data/contactDetails';

export async function getStaticPaths() {
  return localeStaticPaths;
}

const locale = Astro.params.locale as Locale;
const t = translate(locale);
const mostRecentNewsItem = await getMostRecentNewsItem(locale);
---

<Page title={t(tPage, { key: 'title' })}>
  <section>
    <h2 set:html={t(tPage, { key: 'news' })} />
    {mostRecentNewsItem && <NewsPreviewLink headingLevel="h3" newsItem={mostRecentNewsItem} />}
    <div class="align-end margin-block-start-md">
      <a href={`/${locale}/news`} class="btn">
        {t(tPage, { key: 'aw-news' })} ▷
      </a>
    </div>
  </section>

  <section>
    <h2 set:html={t(tPage, { key: 'furthsettins' })} />
    <p set:html={t(tPage, { key: 'furthsettins-para' })} />
    <div class="align-end">
      <a href={`/${locale}/furthsettins`} class="btn">
        {t(tPage, { key: 'aw-furthsettins' })} ▷
      </a>
    </div>
  </section>

  <section>
    <h2 set:html={t(tPage, { key: 'jyne' })} />

    <h3 set:html={t(tPage, { key: 'why-jyne' })} />
    <p set:html={t(tPage, { key: 'why-jyne-para-1' })} />
    <p set:html={t(tPage, { key: 'why-jyne-para-2' })} />
    <p set:html={t(tPage, { key: 'why-jyne-para-3' })} />

    <h3 set:html={t(tPage, { key: 'hou-jyne' })} />
    <p set:html={t(tPage, { key: 'hou-jyne-para-1' })} />
    <p
      set:html={t(tPage, {
        key: 'hou-jyne-para-2',
        membershipEmail: contactDetails.membershipSecretary.emailAddress,
      })}
    />
  </section>

  <section id="contact">
    <h2 set:html={t(tPage, { key: 'contact' })} />
    <a class="link" href={`${locale}/mailto:${contactDetails.generalEnquiries.emailAddress}`}>
      {contactDetails.generalEnquiries.emailAddress}
    </a>
    <address>
      Scots Language Society<br />
       c/o 61 Cliffburn Road<br />
       Arbroath<br />
       Angus<br />
       DD11 5BA<br />
       United Kingdom<br />
    </address>
  </section>
</Page>
