---
import { getLocaleFromPathOrDefault } from '$lib/getLocaleFromPath';
import translate from '$i18n/translate';
import tContact from '$i18n/translations/pages/contact';
import tNews from '$i18n/translations/pages/news';
import tFurthsettins from '$i18n/translations/pages/furthsettins';
import tJyne from '$i18n/translations/pages/jyne';
import tSubmit from '$i18n/translations/pages/submit';

const locale = getLocaleFromPathOrDefault(Astro.url.pathname);
const t = translate(locale);
---

<ul class="nav__nav-links">
  <li>
    <a class="btn" href={`/${locale}/news`}>{t(tNews, { key: 'title' })}</a>
  </li>
  <li>
    <a class="btn" href={`/${locale}/submit`}>{t(tSubmit, { key: 'title' })}</a>
  </li>
  <li>
    <a class="btn" href={`/${locale}/furthsettins`}>{t(tFurthsettins, { key: 'title' })}</a>
  </li>
  <li>
    <a class="btn" href={`/${locale}/jyne`}>{t(tJyne, { key: 'title' })}</a>
  </li>
  <li>
    <a class="btn" href={`/${locale}/contact`}>{t(tContact, { key: 'title' })}</a>
  </li>
</ul>
