---
import { Image } from 'astro:assets';
import { getAllLallansIssues } from '$data/lallans';
import { getLocaleFromPathOrThrow } from '$lib/getLocaleFromPath';
import type LallansIssue from '$types/LallansIssue';

const locale = getLocaleFromPathOrThrow(Astro.url.pathname);
const issues = (await getAllLallansIssues()).sort(issueNumberDescending);

function issueNumberDescending(issue1: LallansIssue, issue2: LallansIssue) {
  return issue2.issueNumber - issue1.issueNumber;
}
---

<ul class="link-gallery">
  {
    issues.map(async (issue) => (
      <li>
        <a
          class="link-gallery__container"
          href={`/${locale}/furthsettins/lallans/${issue.issueNumber}`}
        >
          <Image src={issue.img.width192} alt="" />
          <p class="link-gallery__title">
            Lallans {issue.issueNumber} | {issue.issueName}
          </p>
        </a>
      </li>
    ))
  }
</ul>
