---
import { Image } from 'astro:assets';
import { getAllLallansIssues } from '$data/lallans';
import { getLocaleFromPathOrThrow } from '$lib/getLocaleFromPath';
import type LallansIssue from '$types/LallansIssue';

const locale = getLocaleFromPathOrThrow(Astro.url.pathname);
const issues = (await getAllLallansIssues()).sort(issueNumberDescending);

function issueNumberDescending(issue1: LallansIssue, issue2: LallansIssue) {
  return issue2.issueNumber - issue1.issueNumber;
}

const mostRecentIssue = issues[0];
const allOtherIssues = issues.slice(1);
---

<ul class="link-gallery link-gallery--splash-first">
  <li>
    <a
      class="link-gallery__container"
      href={`/${locale}/furthsettins/lallans/${mostRecentIssue.issueNumber}`}
    >
      <Image src={mostRecentIssue.img.width192} alt="" />
      <p class="link-gallery__title">
        Lallans {mostRecentIssue.issueNumber}
        <br />
        <small>{mostRecentIssue.issueName}</small>
      </p>
    </a>
  </li>

  {
    allOtherIssues.map((issue) => (
      <li>
        <a
          class="link-gallery__container"
          href={`/${locale}/furthsettins/lallans/${issue.issueNumber}`}
        >
          <p class="link-gallery__title">
            Lallans {issue.issueNumber}
            <br />
            <small>{issue.issueName}</small>
          </p>
        </a>
      </li>
    ))
  }
</ul>
