---
import { getAllLallansIssues } from '$data/lallans';
import type Locale from '$types/Locale';

interface Props {
  locale: Locale;
}

const { locale } = Astro.props;

const issues = await getAllLallansIssues();
---

<ul class="link-gallery link-gallery--lallans">
  {
    issues.map((issue) => (
      <li>
        <a
          class="link link-gallery__container"
          href={`/${locale}/furthsettins/lallans/${issue.issueNumber}`}
        >
          <div class="link-gallery__image">
            <img src={`/images/lallans/issue${issue.issueNumber}.jpg`} />
          </div>
          <p class="link-gallery__title">
            Lallans {issue.issueNumber} | {issue.issueName}
          </p>
        </a>
      </li>
    ))
  }
</ul>
