---
import { getAllLallansIssues } from '$data/lallans';
import getLocaleFromPath from '$lib/getLocaleFromPath';
import type LallansIssue from '$types/LallansIssue';

const locale = getLocaleFromPath(Astro.url.pathname);
const issues = (await getAllLallansIssues()).sort(issueNumberDescending);

function issueNumberDescending(issue1: LallansIssue, issue2: LallansIssue) {
  return issue2.issueNumber - issue1.issueNumber;
}
---

<ul class="link-gallery">
  {
    issues.map((issue) => (
      <li>
        <a
          class="link link-gallery__container"
          href={`/${locale}/furthsettins/lallans/${issue.issueNumber}`}
        >
          <img src={`/images/lallans/issue${issue.issueNumber}.jpg`} />
          <p class="link-gallery__title">
            Lallans {issue.issueNumber} | {issue.issueName}
          </p>
        </a>
      </li>
    ))
  }
</ul>
