---
import translate from '$i18n/translate';
import tSite from '$i18n/translations/site';
import relativePath from '$lib/relativePath';
import type LallansIssue from '$types/LallansIssue';
import type Locale from '$types/Locale';
import LallansIssueContributions from './LallansIssueContributions.astro';
import LallansIssueContributors from './LallansIssueContributors.astro';
import PayPalButtons from './PayPalButtons.astro';

interface Props {
  issue: LallansIssue;
  locale: Locale;
}

const { issue, locale } = Astro.props;
const t = translate(locale);
---

<section class="section--full-width">
  <div class="product__header-block">
    <header>
      <h1>{t(tSite, { key: 'lallans' })} {issue.issueNumber}</h1>
      <p class="italic">{issue.description[locale]}</p>
    </header>

    <div class="product__action-block">
      <img alt="" src={`/images/lallans/issue${issue.issueNumber}.jpg`} />
      <PayPalButtons
        successPageUrl={relativePath(Astro.url.pathname, `payment-success-confirmation`)}
      />
    </div>
  </div>
</section>

<section>
  {
    'contributions' in issue ? (
      <LallansIssueContributions contributions={issue.contributions} locale={locale} />
    ) : (
      'contributors' in issue && <LallansIssueContributors contributors={issue.contributors} />
    )
  }
</section>
