---
import translate from '$i18n/translate';
import tSite from '$i18n/translations/site';
import { getLocaleFromPathOrThrow } from '$lib/getLocaleFromPath';
import relativePath from '$lib/relativePath';
import type LallansIssue from '$types/LallansIssue';
import { Image } from 'astro:assets';
import LallansIssueContributions from './LallansIssueContributions.astro';
import LallansIssueContributors from './LallansIssueContributors.astro';
import PayPalButtons from './PayPalButtons.astro';

interface Props {
  issue: LallansIssue;
}

const { issue } = Astro.props;
const locale = getLocaleFromPathOrThrow(Astro.url.pathname);
const t = translate(locale);
---

<section class="section--full-width">
  <div class="product__header-block">
    <header>
      <h1>{t(tSite, { key: 'lallans' }) + ' ' + issue.issueNumber}</h1>
      <p class="italic">{issue.description[locale]}</p>
    </header>

    <div class="product__action-block">
      <Image alt="" src={issue.img.width274} />
      <PayPalButtons
        successPageUrl={relativePath(Astro.url.pathname, `payment-success-confirmation`)}
        productDescription={`Lallans ${issue.issueNumber} | ${issue.issueName}`}
        shortDescription={`Lallans ${issue.issueNumber}`}
        totalPrice={issue.price}
      />
    </div>
  </div>
</section>

<section>
  {
    'contributions' in issue ? (
      <LallansIssueContributions contributions={issue.contributions} />
    ) : (
      'contributors' in issue && <LallansIssueContributors contributors={issue.contributors} />
    )
  }
</section>
